	/*
  	Flaticon icon font: Flaticon
  	Creation date: 09/06/2016 16:43
  	*/

@font-face {
  font-family: "social-header";
  src: url("./social-header.eot");
  src: url("./social-header.eot?#iefix") format("embedded-opentype"),
       url("./social-header.woff") format("woff"),
       url("./social-header.ttf") format("truetype"),
       url("./social-header.svg#social-header") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "social-header";
    src: url("./social-header.svg#social-header") format("svg");
  }
}

[class^="social-header-"]:before, [class*=" social-header-"]:before,
[class^="social-header-"]:after, [class*=" social-header-"]:after {   
  font-family: social-header;
  font-size: 26px;
  font-style: normal;
  margin-left: 20px;
}

.social-header-facebook-logo:before { content: "\f100"; }
.social-header-twitter-logo-button:before { content: "\f101"; }
.social-header-youtube-logo:before { content: "\f102"; }