#send-advice {
    background-color: #ddd;
    padding: 10px;
    width: 350px;
}

#send-advice h2 {
    margin-bottom: 15px;
}

/* =======================================================================
---------- Caracteristicas para cada mercado OPSA   --------------
==========================================================================*/